.book-langs-index{
	height: 100%;
	width: 100%;
	background-color: #171717;
}

.book-langs-index .inner{
	background: transparent;	
	color: rgb(98,160,216);
}

.book-langs-index .inner h3 {
	text-align: center;
}

.book-langs-index .inner .languages li {
	background: #588fc0;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #171717;
	width: 100%;
	float: none;
}